# 复制为 .env 后修改
MYSQL_ROOT_PASSWORD=dev123456
MYSQL_DATABASE=app_db
MYSQL_PORT=3306

REDIS_PASSWORD=dev123456
REDIS_PORT=6379

NACOS_PORT=8848

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=dev123456
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=dev123456
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
